
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(37, 190, 52, 0.189);
    margin: 0px auto;
    width: 1300px;
}
.nav{
    text-transform: uppercase;
    text-align: right;
    background-color: rgba(206, 77, 7, 0.147);
    padding: 10px;
    margin: 10px 0px 40px;
  
}
a{
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 10px;
    margin: 20px;
     
}
h1,h2,h3{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
}
section.a{
    border: 3px solid black;
    border-radius: 25px;
    
    
 }
p{
    padding: 0px 10px;
}
.xx{
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}
